.employeeTable {
  width: 100%;
  border-collapse: collapse;

}

.employeeTableHeader {
  height: 47px;

}


th.employeeTableCell{
  color: var(--white);  
  text-transform: uppercase;

}

td.employeeTableCell {
  color: var(--black);
  text-align: center;

}

.employeeTableRow {
  background-color: var(--white);
  border-top: 1px solid var(--gray-10);
  height: 49px;

}

.employeePhoto {
  border-radius: 50%;
  height: 34px;
  margin-top: 8px;
  width: 34px;
  
}