.headerContainer {
  align-items: center;
  background-color: var(--white);
  box-shadow: 0px 2px 8px 0px #00000033;
  display: flex;
  height: 60px;
  width: 100%;

}

.imgLogo {
  width: 45px;
  height: auto;
  margin-left: 32px;
  
}
